* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: white;
  --color: black;
  --btn-bg: black;
  --btn-text: white;
}

[data-theme="dark"] {
  --bg: black;
  --color: white;
  --btn-bg: white;
  --btn-text: black;
}

.mainContainer {
  background-color: var(--bg);
  color: var(--color);
  transition: all 0.5s;
}
.btn {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
.mainContainer h3 {
  font-size: 4rem;
}
