* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bg: #ffffff;
    --text-color: #000000;
    --btn-bg: #000000;
    --btn-text: #ffffff;
  }
  
  [data-theme="dark"] {
    --bg: #000000;
    --text-color: #ffffff;
    --btn-bg: #ffffff;
    --btn-text: #000000;
  }
  
  .themeContainer {
    background-color: var(--bg);
    color: var(--text-color);
    transition: all 0.5s;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .btn{
    background-color: var(--btn-bg);
    color:var(--btn-text);
    padding:10px 20px;
    border-radius: 15px;
    font-size: 1.5rem;
  }
  