.wrapper-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: black;
}
.wrapper-container span {
  color: white;
  font-size: 3rem;
}
.square-container {
  height: 600px;
  width: 600px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square {
  height: 195px;
  width: 195px;
  background-color: rgb(128, 90, 90);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font: bold;
}
