.container {
  display: flex;
  flex-direction: column;
}

.container span {
  font-size: medium;
  font-weight: 400;
}

.topContainer {
    width: 100vw;
  background-color: rgb(70, 163, 70);
  text-align: center;
  padding: 10px 10px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.tracking-container{
    height:10px;
    width: 100%;
    background-color: rgb(116, 88, 88);
}

.current-progress{
    height:10px;
    background-color: red;
}